<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E25191561B9C726C0015FEEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E251916A1B9C726C0015FEEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E25191751B9C726C0015FEEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
